@import "../dashboard.scss";

:host {
  display: grid;
  width: 100%;
  padding: 1rem 1.5rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

mat-card {
  padding-bottom: 2rem;
}

