:host{
  display: block;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .side-nav-container {
  flex: 1 0 auto;
}

mat-expansion-panel.flat {
  box-shadow: none;

  margin-top: 0;
  margin-bottom: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0 !important;
}
