<div class="sidebar-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Sarcel Mavis</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened='true'>
      <mat-nav-list style='min-width: 250px'>
        <mat-accordion>


          <!-- Dashboard links -->
          <mat-expansion-panel class='flat'>
            <mat-expansion-panel-header [expandedHeight]='"48px"'>
              <mat-panel-title>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink='/dashboards/all' routerLinkActive='active'>
              <mat-icon>home</mat-icon>
              <span>All Sounds</span>
            </a>
            <a mat-list-item routerLink='/about' routerLinkActive='active'>
              <mat-icon>info</mat-icon>
              <span>About</span>
            </a>
            <a mat-list-item routerLink='/contact' routerLinkActive='active'>
              <mat-icon>contact_mail</mat-icon>
              <span>Contact</span>
            </a>
          </mat-expansion-panel>

          <!-- Admin links -->
          <mat-expansion-panel class='flat'>
            <mat-expansion-panel-header [expandedHeight]='"48px"'>
              <mat-panel-title>
                <mat-icon>settings</mat-icon>
                <span>Admin</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
<!--            <a mat-list-item routerLink='/admin/users' routerLinkActive='active'>-->
<!--              <mat-icon>people</mat-icon>-->
<!--              <span>Users</span>-->
<!--            </a>-->
<!--            <a mat-list-item routerLink='/admin/roles' routerLinkActive='active'>-->
<!--              <mat-icon>security</mat-icon>-->
<!--              <span>Roles</span>-->
<!--            </a>-->
            <a mat-list-item routerLink='/admin/categories' routerLinkActive='active'>
              <mat-icon>category</mat-icon>
              <span>Categories</span>
            </a>
            <a mat-list-item routerLink='/admin/sounds/manage' routerLinkActive='active'>
              <mat-icon>graphic_eq</mat-icon>
              <span>Manage sounds</span>
            </a>            <a mat-list-item routerLink='/admin/sounds/upload' routerLinkActive='active'>
              <mat-icon>file_upload</mat-icon>
              <span>Upload sounds</span>
            </a>
          </mat-expansion-panel>



        </mat-accordion>

<!--        <a mat-list-item routerLink=".">Moin</a>-->
<!--        <mat-divider></mat-divider>-->
<!--        <a mat-list-item routerLink=".">Moin</a>-->
<!--        <mat-divider></mat-divider>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<sarcel-mavis-loading *ngIf='loadingService.$isLoading | async'></sarcel-mavis-loading>
